.main{display: flex; flex-direction: column; position: relative;
    margin: 15px; borer: 2px solid white; height: 1100px; justify-content: center;
    align-items: center; top: -450px;}
    
    .main h1,h3{position: relative; pointer-events: none;}
    
    .main h1{align-items: center; text-align: center;}

    
.intro_heading{font-family: "Roboto"; font-size: 50px; margin: 10px;
color: #d0f0c0; position: relative;}